// 主题色
$color-red: #FA6155;
$color-purple: #ff33a9;
$color-orange: #F9DE4A;
$color-blue: #3377ff;
// 文字色
$color-black: #000;
$color-dark: #333;
$color-deep: #666;
$color-pl: #999999;
$color-cc: #ccc;
$color-weak: #b3b3b3;
$color-white: #fff;
$color-money: #ff3f3f;
$color-stay: #f95913;
// 背景色
$bg-bar: #f9f9f9;
$bg-page: #f5f5f5;
$bg-block: #f5f5f5;
$bg-page-light: #f9f9f9;
